.content {
    display: grid;
    width: 100%;
    grid-template-rows: 200px 300px 110px 200px;
    row-gap: 70px;
}

.introduction {
    width: 637px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    color: rgb(226,232,240); 
}

.name {
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 700;
}

.description {
    margin-top: 0;
    font-size: 18px;
}

.name,
.description {
    flex: 2 1 auto;
}

.title {
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.sub-content {
    margin-top: 0;
    color: rgb(148,163,184);
    line-height: 1.7;
}

.date {
    color: rgb(100,255,218);
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 3px;
}