:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 40px;
    background-color: rgb(16, 25, 45);
    font-family: 'Inter', Arial;
    /* color: aquamarine; */
    color: rgb(100,255,218);
    /* color: rgb(226, 112, 55); orange*/
}