body {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 50px;
    background-color: rgb(16, 25, 45);
    font-family: 'Inter', Arial;
    /* color: aquamarine; */
    color: rgb(122,191,172);
    /* color: rgb(226, 112, 55); orange*/

}