.left-section {
    flex: 1;
    align-items: center;
    /* BORDER
    border-style: solid;
    border-color: lightblue;
    */
}

.logo { 
    height: 40px;
    margin-top: 5px;
    margin-left: 30px;
}

.logo-name {
    display: inline-block;
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 0;
}

.right-section {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    /* BORDER
    border-style: solid;
    border-color: lightblue;
    */
}

.header-link {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(235,235,235,0);
    transition: background-color 0.7s;
}

.resume-link {
    padding: 10px -3px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(235,235,235,0);
    transition: background-color 0.7s;
}

.header-link:hover {
    background-color: rgb(235,235,235,0.5);
    cursor: pointer;
}

.resume-link:hover {
    background-color: rgb(235,235,235,0.5);
    cursor: pointer;
}
