.left-section {
    display: flex;
    align-items: center;
}

.logo { 
    height: 40px;
    margin-top: 5px;
    color: rgb(100,255,218); 
}

.logo:hover {
    cursor: pointer;
}

.right-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: justify-content 0.5s ease;
}

@media screen and (max-width: 467px) {
    .right-section {
      justify-content: center;
    }
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    column-gap: 30px;
    width: 100%;
}

.github-link,
.instagram-link {
    margin-left: 30px;
    border-radius: 25px;
    padding: 10px 10px 7px 10px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.55s, border-radius 0s;
}

.github-link:hover,
.instagram-link:hover {
    background-color: rgba(235,235,235,0.3);
}

.resume-link {
    padding-left: 18px;
    padding-right: 18px;
    border-style: solid;
    border-color: rgb(100,255,218);
    border: 2px solid rgb(100,255,218);
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.55s, border-radius 0s;
}

.resume-link:hover {
    background-color: rgba(235,235,235,0.3);
    cursor: pointer;
}

.resume-section {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}




