.left-section {
    display: flex;
    align-items: center;
}

.logo { 
    height: 40px;
    margin-top: 5px;
    color: rgb(100,255,218); 
}

.logo:hover {
    cursor: pointer;
}

.right-section {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    /*transition: justify-content 0.5s ease;*/
    max-width: 80%;
    padding-right: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Adjust image sizes based on viewport width */
@media screen and (max-width: 1200px) {
    .right-section img {
        height: auto;
        max-width: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .right-section img {
        height: auto;
        max-width: 28px;
    }
}

@media screen and (max-width: 800px) {
    .right-section img {
        height: auto;
        max-width: 26px;
    }
}

@media screen and (max-width: 600px) {
    .right-section img {
        height: auto;
        max-width: 24px;
    }
}

@media screen and (max-width: 400px) {
    .right-section img {
        height: auto;
        max-width: 22px;
    }
}

.header {
    z-index: 1;
    padding: 20px 0px 10px;
    top: 0;
    background-color: rgb(16, 25, 45);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github-link,
.instagram-link,
.linkedin-link,
.achievements {
    margin-left: 20px;
    border-radius: 25px;
    padding: 10px 10px 7px 10px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.55s, border-radius 0s;
}

.github-link:hover,
.instagram-link:hover,
.linkedin-link:hover,
.achievements:hover {
    background-color: rgba(235,235,235,0.4);
}

.resume-link {
    margin-left: 20px;
    padding-left: 18px;
    padding-right: 18px;
    border-style: solid;
    border-color: rgb(100,255,218);
    border: 2px solid rgb(100,255,218);
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.55s, border-radius 0s;
}

.achievements img {
    cursor: pointer;
}

.resume-link:hover {
    background-color: rgba(235,235,235,0.4);
    cursor: pointer;
}

.resume-section {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}