.content {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    row-gap: 70px;
    margin-bottom: 80px;
}

/*Description under name*/
.description {
    margin-top: 15px;
    font-size: 18px;
}

.name {
    margin-top: -32px;
}

.name,
.description {
    flex: 2 1 auto;
}

.about {
    width: 100%;
}

.experience-date {
    color: rgb(100,255,218);
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 3px;
}

.past-experience {
    opacity: 0.6;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    border-radius: 8px;
    background-color: rgba(110, 113, 223, 0);
    transition: background-color 0.45s, transform 0.3s ease;
}

.project-card:hover {
    background-color: rgba(100,255,218,0.1);
    cursor: pointer;
    transform: translateY(-9px);
}

.project-card:hover .project-title {
    color: rgba(100,255,218,0.9);
    transition: color 0.45s;
}

.project-image {
    height: auto;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px;
}

.project-title {
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin: 0;
    margin-top: 5px;
    padding: 5px 13px;
}

.project-description {
    padding: 8px 12px;
    margin: 0;
    margin-top: 5px;
    padding-bottom: 50px;
    font-size: 16px;
    color: rgb(148,163,184);
}