.list {
    color: white;
}

li {
    /*color: rgb(100,255,218); */
    color: #cbcbcb;
    font-weight: 400;
    line-height: 2.5;
}

.list li {
    list-style-type: disc; /* Default list style */
    color: #cbcbcb;
    font-weight: 400;
    line-height: 2.5;
}

.list .indented-list {
    list-style-type: none; /* Remove default bullets */
    margin-left: 20px;
}

.list .indented-list::before {
    content: "- ";
    margin-right: 5px;
}

.list-note {
    color: rgb(148,163,184);
}

.author {
    max-width: 637px;
    margin-top: 0;
    color: rgb(148,163,184);
    line-height: 0.8;
}

.responsive-video {
    width: 100%;
    aspect-ratio: 16 / 9; 
    margin-top: 20px;
    max-width: 480px;
}
